<app-layout>
    <mat-sidenav-container class="custom-sidenav-container">
        <mat-sidenav #sidenav role="navigation">
            <app-sidenav-list (sidenavClose)="sidenav.close()"></app-sidenav-list>
        </mat-sidenav>
        <mat-sidenav-content>
            <app-header (sidenavToggle)="sidenav.toggle()"></app-header>
            <main>
                <router-outlet>
                    <mat-card class="welcome-card">
                        <mat-card-title *ngIf="authService.isToken" style="text-align:center">Welcome 
                            {{authService.userName}}</mat-card-title>
                    </mat-card>

                    <mat-card class="welcome-card" style="fill-opacity: inherit">
                        <app-employee></app-employee>
                    </mat-card>

                </router-outlet>
            </main>
        </mat-sidenav-content>
    </mat-sidenav-container>
</app-layout>